:root{
  --primary:hsl(180, 67%, 38%);
  --dark:#161616;
  --pure:#ffffff;
  --ternary:#898989;
  --light:#1c1b1b;
  --secondary:#282626;
  
}

*{
  -webkit-font-smotthing:antialiased;
}

h1{
  font-family:'Lato', sans-serif;
}
h2{
  font-family:'Lato', sans-serif;
}
h3{
  font-family:'Lato', sans-serif;
}
h4{
  font-family:'Lato', sans-serif;
}
h5{
  font-family:'Lato', sans-serif;
}
h6{
  font-family:'Lato', sans-serif;
}
p{
  font-family:'Lato', sans-serif;
}